div {
  text-align: center;
  width: 100%;
}

h1 {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

h2 {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

h3 {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.body {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  margin: 10px 30px;
}

.leftColumn {
  width: 40%;
}

.rightColumn {
  width: 60%;
}